* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s;
}

.card-flipper {
  background-color: #ecf0f1;
  color: #2c3e50;
  transform: scale(1.1);
  transition: transform 300ms;
}

.hidden {
  visibility: hidden;
}

.btn {
  transition: 300ms;
  padding: 10px 20px;
  margin-left: 20px;
  margin-top: 70%;
  font-size: 16px;
  cursor: pointer;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn:hover {
    background-color: #3c566f;
    transition: all 500ms;
  }